.select-title {
  margin: 16px 0 10px 0;
}
.dropdown {
  font-family: Arial, Helvetica, sans-serif;
  width: 256px;
  height: 32px;
  background-color: $color-2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid $color-4;
  cursor: pointer;
  margin-right: 1px;
  position: relative;

  .dropdown-select {
    padding: 0 15px 0 16px;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 11px;
      color: $color-6;
      position: relative;
      top: -2px;
      right: 6px;
    }
  }
  .hidden {
    display: none;
  }
  .dropdown-list {
    width: 100%;
    background-color: $color-3;
    position: absolute;
    top: 33px;
    left: -1px;
    right: 0;
    z-index: 100;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid $color-4;

    .dropdown-item {
      padding: 3px 0px 3px 6.8px;
    }
    .dropdown-item:hover {
      background-color: $color-1;
      color: $color-3;
    }
    .dropdown-item-focus:hover {
      background-color: $color-1;
      color: $color-3;
    }
    .dropdown-item-focus {
      padding: 3px 0px 3px 6.8px;
    }
  }
}

.table-dropdown {
  margin: 0 4px 0 4px;
  font-family: Arial, Helvetica, sans-serif;
  width: 45px;
  height: 17px;
  background-color: $color-3;
  border-radius: 2px;
  border: 1px solid $color-6;
  position: relative;
  cursor: pointer;

  .dropdown-select {
    padding: 0 0px 0 4px;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 10px;
      color: $color-8;
      position: relative;
      top: -0.5px;
      right: 4px;
    }
  }
  .hidden {
    display: none;
  }
  .dropdown-list {
    width: 102%;
    background-color: $color-3;
    position: absolute;
    top: 19px;
    left: -1px;
    z-index: 100;
    border: 0.5px solid $color-5;
    box-shadow: 0px 2px 5px $color-4;
    .dropdown-item {
      font-size: 14px;
      padding: 0px 0px 0px 4px;
    }
    .dropdown-item:hover {
      background-color: $color-1;
      color: $color-3;
    }
    .dropdown-item-focus:hover {
      background-color: $color-1;
      color: $color-3;
    }
    .dropdown-item-focus {
      font-size: 14px;
      padding: 0px 0px 0px 4px;
    }
  }
}
.picker-dropdown {
  font-family: Arial, Helvetica, sans-serif;
  height: 34px;
  position: relative;
  cursor: pointer;

  .dropdown-select {
    font-size: 14px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 6px;
    padding: 0 0px 0 5px;

    .icon {
      font-size: 10px;
      color: $color-11;
      position: relative;
      top: -0.5px;
      right: 4px;
    }
  }
  .dropdown-select:hover {
    text-decoration: underline;
    .icon {
      color: $color-5;
    }
  }

  .hidden {
    display: none;
  }
  .dropdown-list {
    background-color: $color-3;
    position: absolute;
    z-index: 100;
    border: 0.5px solid $color-4;
    height: 160px;
    overflow: overlay;

    .dropdown-item {
      padding: 4px 12px 4px 5px;
      text-align: right;
      font-weight: 700;
      font-size: 14px;
    }
    .dropdown-item-focus {
      text-align: right;
      font-weight: 700;
      font-size: 14px;
      padding: 4px 12px 4px 5px;
      background-color: $color-12;
      color: $color-3;
    }
    .dropdown-item:hover {
      background-color: $color-13;
      color: $color-3;
    }
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $color-4;
  border-radius: 50px;
}
