// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   text-decoration: none;
//   list-style-type: none;
// }
$color-1: #007fff;
$color-2: #f6f6f6;
$color-3: #ffffff;
$color-4: #c5c5c5;
$color-5: black;
$color-6: #454545;
$color-7: #fafafa;
$color-8: #111;
$color-9: #eaeaea61;
$color-10: #979797;
$color-11: #666666;
$color-12: #33aaff;
$color-13: #ff8000;
